$panel-title-height: 44px;
$panel-heading-font-size: 16px;
$bootstrap-panel-text: #7d7d7d;
$bootstrap-panel-bg: #ffffff;
.bootstrap-panel {
  background-color: #ffffff;
}

.bootstrap-panel .panel-body {
  color: #7d7d7d;
}

.panel {
  &.with-scroll {
    .panel-body {
      height: calc(100% - #{$panel-title-height});
      overflow-y: auto;
    }
  }
}
.button-panel{
  height: 315px;
  .btn{
    width: 150px;
  }
}

.panel-default {
  > .panel-heading {
    color: $bootstrap-panel-text;
  }
  > .panel-footer {
    color: $bootstrap-panel-text;
  }
}
.pull-right { float: right; }
.has-feedback {
  position: relative;
}
.disabled-text{
  color: #6a7187;
}
.filter{
  color: #6a7187;
  border-top-width: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.drag-list {
  border: none;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.drag-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box:last-child {
  border: none;
}

.drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.ACTIVATED-badge {
  background: #c8e6c9;
  color: #256029;
}

.BLOCKED-badge {
  background: #ffcdd2;
  color: #c63737;
}
.TNR-badge {
  background: #cdf3ff;
  color: #37c1c6;
}

.TEST-badge {
  background: #feedaf;
  color: #8a5340;
}
